.quickLinks {
    background: #f5f5f5;;
    padding: 2rem;
}

.cardsTitle {
    font-size: 1.7rem;
    font-weight: 100;
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.grid3col{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap:56px;
    margin: 0 auto;
    padding: 0;
}
@media screen and (max-width: 1680px) {
    .grid3col{
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap:56px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1180px) {
    .grid3col{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap:56px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .grid3col{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap:56px 0px;
        margin: 0 auto;
    }
}

.cardContainer {
    min-height: 6rem;
}
@media screen and (max-width: 768px) {
    .cardContainer{
        min-height: 3rem;
        padding-bottom: 1rem;
    }
}
.cardContainer li {
    list-style-type: none;
    position: relative;
}
  
.cardContainer li:before {
    --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="white" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
    transform: rotate(90deg);
        content: '';
        position: absolute;
        height: 1.25rem;
        width: 1.25rem;
        left: -1.5rem;
        top: 0.5rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    border: 1px solid #a8b3cf;
    color: #000;
    width: 320px;
    /* padding: 8px; */
    position: relative;
    display: block;
    /* border: 1px solid #a8b3cf33; */
    border: 1px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h2 {
    margin: 8px 16px;
    min-height: 2.4rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.card a {
    margin: 8px 16px;
    min-height: 2.4rem;
    font-size: 1rem;
    line-height: 1.4;
    color: #536bb3;
}

.card p {
    margin: 8px 16px;
    min-height: 2.4rem;
    font-size: 1rem;
    line-height: 1.4;
}

.cardHeader {
    /* background-color: #0b2250; */
    background: linear-gradient(0deg, rgba(11,34,80,1) 0%, rgba(75,98,144,1) 200%);
}

.cardIcon {
    width: 28px;
    height: 28px;
    border-radius: 0!important;
    margin: 12px 0 4px 16px;
    background: white;
}

.cardButton {
    display: flex;
    justify-content: center;
}

.cardButton a {
    background-color: #fff;
    color: #1d57cc;
    /* border: none; */
    border: 1px solid #1d57cc;
    border-radius: 0!important;
    padding: 10px 32px;
    display: inline-block;
    min-height: 2.4rem;
    font-size: 1rem;
    font-weight: 300;
    margin: 12px 2px;
    cursor: pointer;
}

.cardButton a:hover {
    background-color: #1d57cc;
    color: #fff;
}
