.heroBanner {
    padding: 3.5rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
.heroBanner {
    padding: 1.2rem;
}
}

bannerContainer {
    position: relative;
    text-align: center;
}

bannerBackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.heroTitle {
    font-size: 2rem;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLogo {
    height: 70px;
    margin: 20px;
}

.bannerButton {
    display: flex;
    justify-content: center;
}

.bannerButton a {
    background-color: #1d57cc;
    color: #fff;
    /* border: none; */
    border: 1px solid #1d57cc;
    border-radius: 0!important;
    padding: 10px 32px;
    display: inline-block;
    min-height: 2.4rem;
    font-size: 1rem;
    font-weight: 300;
    margin: 12px 2px;
    cursor: pointer;
}

.bannerButton a:hover {
    background-color: #fff;
    color: #1d57cc;
}